body {
  background-color: #000;
}

body .wrapper {
  width: 100%;
  height: 500px;
  background-color: red;
}

body .wrapper .item {
  width: 100px;
  height: 100px;
  background-image: url('../images/test.png');
}