body {
  background-color: #000;
}

body .wrapper {
  background-color: red;
  width: 100%;
  height: 500px;
}

body .wrapper .item {
  background-image: url("../images/test.png");
  width: 100px;
  height: 100px;
}
